<package-def>
    <class name="АбстрактныйКоннектор" file="src/Классы/АбстрактныйКоннектор.os"/>
    <class name="АбстрактныйКоннекторSQL" file="src/Классы/АбстрактныйКоннекторSQL.os"/>
    <class name="ИсточникДанных" file="src/Классы/ИсточникДанных.os"/>
    <class name="КоннекторSQLite" file="src/Классы/КоннекторSQLite.os"/>
    <class name="КоннекторJSON" file="src/Классы/КоннекторJSON.os"/>
    <class name="КоннекторPostgreSQL" file="src/Классы/КоннекторPostgreSQL.os"/>
    <class name="МенеджерСущностей" file="src/Классы/МенеджерСущностей.os"/>
    <class name="МодельДанных" file="src/Классы/МодельДанных.os"/>
    <class name="ОбъектМодели" file="src/Классы/ОбъектМодели.os"/>
    <class name="ОпцииПоиска" file="src/Классы/ОпцииПоиска.os"/>
    <class name="ЭлементОтбора" file="src/Классы/ЭлементОтбора.os"/>
    <class name="ЭлементПорядка" file="src/Классы/ЭлементПорядка.os"/>
    <class name="ХранилищеСущностей" file="src/Классы/ХранилищеСущностей.os"/>
    <class name="КоннекторInMemory" file="src/Классы/КоннекторInMemory.os"/>
    <class name="АннотацияГенерируемоеЗначение" file="src/Аннотации/Классы/АннотацияГенерируемоеЗначение.os"/>
    <class name="АннотацияИдентификатор" file="src/Аннотации/Классы/АннотацияИдентификатор.os"/>
    <class name="АннотацияКолонка" file="src/Аннотации/Классы/АннотацияКолонка.os"/>
    <class name="АннотацияПодчиненнаяТаблица" file="src/Аннотации/Классы/АннотацияПодчиненнаяТаблица.os"/>
    <class name="АннотацияСущность" file="src/Аннотации/Классы/АннотацияСущность.os"/>
    <module name="ТипыКолонок" file="src/Модули/ТипыКолонок.os"/>
    <module name="ТипыПодчиненныхТаблиц" file="src/Модули/ТипыПодчиненныхТаблиц.os"/>
    <module name="ВидСравнения" file="src/Модули/ВидСравнения.os"/>
</package-def>