<package-def>
    <class name="АбстрактныйКоннектор" file="src/Классы/АбстрактныйКоннектор.os"/>
    <class name="КоннекторSQLite" file="src/Классы/КоннекторSQLite.os"/>
    <class name="МенеджерСущностей" file="src/Классы/МенеджерСущностей.os"/>
    <class name="МодельДанных" file="src/Классы/МодельДанных.os"/>
    <class name="ОбъектМодели" file="src/Классы/ОбъектМодели.os"/>
    <class name="ЭлементОтбора" file="src/Классы/ЭлементОтбора.os"/>
    <module name="ТипыКолонок" file="src/Модули/ТипыКолонок.os"/>
    <module name="ВидСравнения" file="src/Модули/ВидСравнения.os"/>
</package-def>