name: CI

on:
  push:
  pull_request:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 0 * * 1'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-12]
        oscript_version: ['1.8.3', 'stable']
    steps:
    - uses: actions/checkout@v3

    - name: Setup Onescript Action
      uses: otymko/setup-onescript@v1.1
      with:
        version: ${{ matrix.oscript_version }}

    - name: Install dependencies
      run: |
        opm install opm@1.0.2
        opm install -l --dev

    - name: Install docker
      if: matrix.os != 'windows-latest'
      uses: docker-practice/actions-setup-docker@master
      timeout-minutes: 12

    - name: Setup PostgreSQL
      if: matrix.os != 'windows-latest'
      run: |
        docker run --rm --name postgres -d -p 5432:5432 -e POSTGRES_PASSWORD=postgres -e POSTGRES_USERNAME=postgres -e POSTGRES_DB=postgres -e POSTGRES_HOST_AUTH_METHOD=password --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5 postgres
        docker ps
        while [ "`docker inspect -f {{.State.Health.Status}} postgres`" != "healthy" ]; do docker ps && sleep 2; done
        docker ps
    
    #- name: Configure env vars on macos
    #  if: matrix.os == 'macos-latest'
    #  env:
    #    ACTIONS_ALLOW_UNSECURE_COMMANDS: true
    #  run: |
    #      eval $(docker-machine env default)
    #      echo "::set-env name=POSTGRES_HOST::$(docker-machine ip)"

    - name: Run tests
      env:
        TESTRUNNER_RUN_POSTGRES_TESTS: "${{ matrix.os != 'windows-latest' }}"
        TESTRUNNER_RUN_SQLITE_TESTS: "${{ matrix.os == 'windows-latest' }}"
      run: |
        oscript ./tasks/test.os
